body {
    font-family: 'Ubuntu', sans-serif;

}

.wrapper {
    width: 100%;
    /*height: 110vh;*/
    height: 100vh;
    background-image: url("../Img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.header-left-text {
    float: left;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    padding-left: 81px;

}

.header-left-text:hover {
    color: #3CB878;
    cursor: default;
    transition: 0.5s;
}

header {
    background: rgba(0, 0, 0, 0.41);
    height: 59px;

}

.header-right-content {
    margin-right: 71px;
    float: right;

}

.icon {
    background: url("../Img/sprites.png") no-repeat;
    display: inline-block;
    cursor: default;
}

.icon.calendar {
    margin-top: 21px;
    width: 19px;
    height: 19px;
    background-position: -14px -14px;
}

.icon.forum {
    margin-left: 28px;
    margin-top: 20px;
    width: 28px;
    height: 20px;
    background-position: -204px -14px;
}

.icon.journey {
    margin-top: 20px;
    margin-right: 56px;
    margin-left: 28px;
    width: 20px;
    height: 20px;
    background-position: -108px -14px;
}

.icon.calendar:hover {
    background-position: -61px -14px;
}

.icon.forum:hover {
    background-position: -260px -14px;
}

.icon.journey:hover {
    background-position: -156px -14px;
}

.log-in-span, .sign-up-span {
    color: #3CB878;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;

}

.log-in-span {
    margin-right: 9px;
}

.sign-up-span {
    padding-left: 2px;
    font-family: Verdana, sans-serif;
}

.right-header-text {
    color: white;
    display: inline-block;

}

.header-right-spans {
    float: right;
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
}

.container {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    top:calc(50% - 292px);
    /*top:69px;*/
    position: relative;

}

.square {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;
    background: #3CB878;
}

.Sign-up-form-link {
    position: absolute;
    left: 61px;
    top: 29px;
    font-size: 20px;
    line-height: 21px;
    color: #434343;
    text-decoration: none;

}

.Log-In-form-link {
    position: absolute;
    left: 346px;
    top: 30px;
    font-size: 14px;
    line-height: 21px;
    color: #3CB878;
    text-decoration: none;

}

.form-login-buttons {
    font-size: 0;
    margin-left: 61px;

}

.button-log-in-facebook,
.button-log-in-google {
    padding: 0;
    position: relative;
    border: 0;
    border-radius: 5px;
    margin-top: 62px;
    width: 160px;
    height: 48px;

}

.button-log-in-facebook {
    background: #305DB8;
    cursor: pointer;
}

.form-button-facebook-text,
.form-button-google-text {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
}

.form-button-facebook-text {
    position: absolute;
    left: 69px;
    top: 13px;


}

.form-button-google-text {
    position: absolute;
    right: 30px;
    top: 13px;
}

.button-log-in-facebook::before {
    content: "";
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    position: absolute;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.button-log-in-google {
    cursor: pointer;
    background: #DF4A32;
    margin-left: 4px;
}

.button-log-in-google::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 49px;
    top: 10px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.facebook-img {
    position: absolute;
    width: 10px;
    height: 20px;
    left: 21px;
    top: 14px;
}

.google-img {
    position: absolute;
    width: 25px;
    height: 16px;
    left: 15px;
    top: 16px;
}

.text-after-login-Buttons {
    font-size: 14px;
    color: #848484;
    text-align: center;
    margin-top: 29px;
}

.First-Name {
    width: 286px;
    height: 46px;
    margin-left: 61px;
    border: 1px solid #F2F2F2;
    color: #BEBEBE;
    font-size: 14px;
    line-height: 21px;
}

.Second-Name,
.user-email,
.user-new-password,
.user-confirm-password {
    width: 286px;
    height: 44px;
    margin-left: 61px;
    border: 1px solid #F2F2F2;
    color: #BEBEBE;
    font-size: 14px;
    line-height: 21px;
}

INPUT.First-Name:focus {
    outline: none;
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

INPUT.Second-Name:focus {
    outline: none;
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

INPUT.user-email:focus {
    outline: none;
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

INPUT.user-new-password:focus {
    outline: none;
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

INPUT.user-confirm-password:focus {
    outline: none;
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

:focus::-webkit-input-placeholder {
    color: #434343
}

:focus::-moz-placeholder {
    color: #434343
}

:focus:-moz-placeholder {
    color: #434343
}

:focus:-ms-input-placeholder {
    color: #434343
}

.Second-Name {
    margin-top: 16px;
}

.user-email {
    margin-top: 9px;
}

.user-new-password {
    margin-top: 9px;
}

.user-confirm-password {
    margin-top: 9px;
}

input[placeholder] {
    padding: 0 18px;
}

.checkbox {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 62px;
    margin-top: 19px;
    margin-right: 160px;
}

.checkbox-span-text {
    color: #3CB878;
}

input[type="checkbox"] {
    display: none;
}

.checkbox input[type="checkbox"] + .custom-checkbox:after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + .custom-checkbox:after {
    content: "";
}


.custom-checkbox {
    margin-right: 10px;
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;

}

.custom-checkbox:after {
    top: 1px;
    left: 3px;
    bottom: 2px;
    right: 1px;
    content: "";
    position: absolute;
    background: url("../Img/Checkbox.svg");

}

.submit-button {
    width: 322px;
    height: 46px;
    background: #3CB878;
    border: 0;
    margin-left: 62px;
    margin-top: 28px;
    padding: 0;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}


