body {
    font-family: "Roboto", sans-serif;
    background-image: url("../Img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1366px;
    height: 768px;
    margin: 0 auto;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

header {
    margin-top: 49px;
    height: 61px;;
}

.head-left-link {
    padding-bottom: 17px;
}

.head-logo {
    margin-left: 155px;
    background-image: url("../Img/logo-white.png");
    background-repeat: no-repeat;
    height: 46px;
    width: 44px;
    float: left;
}

.header-text-city-name, .header-text-under-city-name {
    font-weight: bold;
    line-height: 21px;
}

a:hover .head-logo {
    background-image: url("../Img/logo-orange.png");
}

a:hover .head-left-text {
    color: #F26522;
}

.head-left-text {
    display: inline-block;
    margin-left: 15px;
}

.header-text-city-name {
    font-size: 29px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 1px;
}

.header-text-under-city-name {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;

}

.head-right-contacts {
    display: inline-block;
    margin-right: 147px;
    float: right;
    color: #FFFFFF;
}

.head-email, .head-phone {
    font-size: 18px;
    line-height: 21px;
}

.head-phone {
    margin-top: 17px;
    float: right;
}

header::after {
    content: "";
    display: block;
    clear: both;
}

.tours-section {
    margin-top: 33px;
}

.Shopping-Tour {
    float: left;
    margin-left: 155px;
}

.Shopping-Tour-img {
    border: 1px solid;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice:1;
    box-shadow: 0 17px 24px #000000;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-image: url("../Img/Shopping-Tour.png");
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
}

.simple-text {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
}

.pop-up {
    position: absolute;
    margin-top: 200px;
}
.start-price-span {
    font-size: 10px;
    line-height: 21px;
    margin-top: 11px;
    margin-left: 21px;
}

.price-span {
    display: block;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 18px;
    margin-left: 21px;
}

.info-details {
    font-size: 14px;
    line-height: 21px;
    float: right;
    margin-right: 20px;
}

.info-details::after {
    content: url("../Img/Vector.svg");
    margin-left: 24px;
    width: 5px;
    height: 10px;
}

a:hover .simple-text {
    color: #F26522;
}

.Shopping-Tour:hover .pop-up {
    display: inline-block;
    width: 308px;
    height: 63px;
    background: #F26522;
    color: white;
    position: absolute;
    margin-top: 138px;
    overflow: hidden;
    transition: .5s ease;
}


.Sightseeing-Tour {
    float: left;
    margin-left: 69px;
}

.Sightseeing-Tour-img {
    border: 1px solid;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    box-shadow: 0 17px 24px #000000;
    box-sizing: border-box;
    background-image: url("../Img/Sightseeing-Tour.png");
    background-repeat: no-repeat;
    width: 308px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.Sightseeing-Tour:hover .pop-up {
    display: inline-block;
    width: 308px;
    height: 63px;
    background: #F26522;
    color: white;
    position: absolute;
    margin-top: 137px;
    overflow: hidden;
    transition: .5s ease;
}

.Food-Tour {
    float: left;
    margin-left: 68px;
}

.Food-Tour-img {
    border: 1px solid;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    box-shadow: 0 17px 24px #000000;
    box-sizing: border-box;
    background-image: url("../Img/Food-Tour.png");
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.Food-Tour:hover .pop-up {
    display: inline-block;
    width: 308px;
    height: 63px;
    background: #F26522;
    color: white;
    position: absolute;
    margin-top: 137px;
    overflow: hidden;
    transition: .5s ease;
}

.Bars-Nightlife {
    float: left;
    margin-left: 155px;
    margin-top: 47.5px;
}

.Bars-Nightlife-img {
    border: 1px solid;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    box-shadow: 0 17px 24px #000000;
    box-sizing: border-box;
    background-image: url("../Img/Bars-Nightlife.png");
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.Bars-Nightlife:hover .pop-up {
    display: inline-block;
    width: 308px;
    height: 63px;
    background: #F26522;
    color: white;
    position: absolute;
    margin-top: 137px;
    overflow: hidden;
    transition: .5s ease;
}

.Art-Architecture {
    float: left;
    margin-left: 69px;
    margin-top: 47.5px;
}

.Art-Architecture-img {
    border: 1px solid;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    box-shadow: 0 17px 24px #000000;
    box-sizing: border-box;
    background-image: url("../Img/Art-Architecture.png");
    background-repeat: no-repeat;
    width: 308px;
    height: 201px;
    position: relative;
    overflow: hidden;
}

.Art-Architecture:hover .pop-up {
    display: inline-block;
    width: 308px;
    height: 63px;
    background: #F26522;
    color: white;
    position: absolute;
    margin-top: 138px;
    overflow: hidden;
    transition: .5s ease;
}

.Walking-Tour {
    float: left;
    margin-left: 68px;
    margin-top: 47.5px;
}

.Walking-Tour-img {
    border: 1px solid;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    box-shadow: 0 17px 24px #000000;
    box-sizing: border-box;
    background-image: url("../Img/Walking-Tour.png");
    background-repeat: no-repeat;
    width: 307px;
    height: 201px;
    position: relative;
    overflow: hidden;
}

.Walking-Tour:hover .pop-up {
    display: inline-block;
    width: 308px;
    height: 63px;
    background: #F26522;
    color: white;
    position: absolute;
    margin-top: 138px;
    overflow: hidden;
    transition: .5s ease;
}

.tours-section::after {
    content: "";
    display: block;
    clear: both;
}

.footer-text {
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}


