@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo_regular/Arimo-Regular-webfont.eot');
    src: url('../fonts/Arimo_regular/Arimo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo_regular/Arimo-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Arimo_regular/Arimo-Regular-webfont.woff') format('woff'),
    url('../fonts/Arimo_regular/Arimo-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Arimo_regular/Arimo-Regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo_bold/Arimo-Bold-webfont.eot');
    src: url('../fonts/Arimo_bold/Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo_bold/Arimo-Bold-webfont.woff2') format('woff2'),
    url('../fonts/Arimo_bold/Arimo-Bold-webfont.woff') format('woff'),
    url('../fonts/Arimo_bold/Arimo-Bold-webfont.ttf') format('truetype'),
    url('../fonts/Arimo_bold/Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: bold;
    font-style: normal;
}