@import "fonts.css" screen;

body {
    font-family: 'Arimo', sans-serif;
}

.wrapper {
    position: absolute;
    width: 1224px;
    height: 660px;
    left: calc(50% - 1224px / 2);
    top: calc(50% - 660px / 2);
    background: #3A4965;
}

.table-container {
    position: absolute;
    left: 25px;
    top: 27px;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    /*border: 27px solid #3A4965;*/
}

.th-square{
    width: 201px;
    background: #FAFAFA;
}

.td-table-cell{
    border-bottom: 1px solid lightgrey;
    width: 160px;
}

.first-line-text-span {
    display: block;
    font-size: 14px;
    line-height: 28px;
}

.first-table-square {
    background: linear-gradient(to bottom, #FAFAFA 90%, #3A4965 10%);
    /*border-bottom: 11.5px solid #3A4965;*/
}

tr:first-child td:nth-child(2n) {
    background: linear-gradient(to bottom, #E3E3E3 90%, #3A4965 10%);
}

tr:first-child td:nth-child(2n+1) {
    background: linear-gradient(to bottom, #F2F2F2 90%, #3A4965 10%);
}

.icon {
    color: #848484;
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 28px;
    bottom: 5px;
}

.table-first-line {
    height: 115px;
    font-size: 20px;
    font-weight: bold;
}


td:nth-child(even) {
    background: #E3E3E3;
}

td:nth-child(odd) {
    background: #F2F2F2;
}

.price-field-background {
    color: #FFFFFF;
    vertical-align: top;
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
}

.price-field-background.green-color {
    background: #89C331;
}

.price-field-background.pink-color {
    background: #F04A56;
}

.price-field-background.blue-color {
    background: #20807C;
}

.cost-sub-element {
    font-size: 36px;
    line-height: 28px;
}

.cost-sup-top-element {
    font-size: 18px;
    line-height: 28px;
}

.after-first-line-rows {
    height: 167px;

}

.buy-button {
    font-weight: bold;
    font-size: 16px;
    margin-top: 9px;
    width: 147px;
    height: 44px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #414141 80%, #343434 20%);
    text-transform: uppercase;
    line-height: 28px;
    color: #FFFFFF;
    transition: color .6s ease;
}

.section-button-text {
    display: block;
    font-weight: bold;
    margin-top: 13px;
    font-size: 24px;
}

.buy-button:hover {
    border: 2px solid white;
    color: #20807C;
    transition: color .6s ease;
    cursor: pointer;
}
