body{
    background-image: url("./Images/SpaceBackground.jpg");
    overflow: hidden;
    font-family: '', sans-serif;
    font-weight: bold;
}

.audio {
display:none;
}

h1,h2 {
    text-align: center;
    font-size: 140%;
}
.container {
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 250%;
    text-align:justify;
    color: #fbcf00;
    transform: perspective(221px) rotate3d(1,0,0,25deg);
}

.text {
    position: absolute;
    top: 100%;
    animation: transformation 30s linear infinite;
}

.text p {
    margin: 20px 0 20px 0;
}

@keyframes transformation {
    0% {
        top: 100%;
        opacity: 0;
    }
    1% {
        top: 100%;
        opacity: 1;
    }
    90% {
        opacity:1;
    }

    100% {
        top: -100%;
        opacity: 0;
    }
}


