body {
    font-family: Montserrat;
    width: 1366px;
    height: 768px;
    background: rgba(0, 0, 0, 0.0001);
    text-align: center;

}
a {
    font-style: normal;
    font-size: 18px;
    color: #16A085;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}

li {
    list-style-type: none;
    display: inline;
    margin:20px;
}
nav {
    text-align:center;
}

h2 {
    font-style: normal;
    font-size: 22px;
    letter-spacing: 3.3px;

}
h2,a {
    font-weight: bold;
}
p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
}
footer {
    text-align: right;
}
footer p {
    font-weight: bold;
}
img {
    width: 1366px;
    height: 768px;
}
button {
    width: 195px;
    height: 54px;
    background: #16A085;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

button:hover {
    color: #FF111B;
    font-weight: bold;
}

