@font-face {
    font-family: Futura;
    src: url('../Fonts/Futura.ttf');
}
html {
    overflow: hidden;
}

body {
    height: 100vh;
    perspective: 1px;
    transform-style:preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;

}
.header-wrapper {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    transform-style:preserve-3d;

}
.header-wrapper:before {
    content:"";
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Images/banner-section-background.jpg");
    height: 100vh;
    width: 100vw;
    transform: translateZ(-1px) scale(2);
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0% 0%);
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-section-content {
    padding-top: 40px;
    margin: 0;
}

.header-nav-section {
    display: flex;
    background: #FFFFFF;
    justify-content: space-around;
    align-items: center;
}

.header-left-logo {
    padding: 40px 0;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #424F57;
    cursor:pointer;
}

.header-left-logo-name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #14AFCA;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

li {
    list-style-type: none;

}

.header-nav-link {
    text-decoration: none;
    color: #424F57;
    margin: 0 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.header-nav-link:hover {
    color: #14AFCA;
}

.header-banner-text-section {
    margin-top: 150px;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}

.header-banner-text {
    margin: 0;
    color: #FFFFFF;
    font-family: "Futura", sans-serif;
    font-size: 52px;
}
.after-banner-question-wrapper{
    height: 100vh;
    width: 100vw;
    transform-style:preserve-3d;
}

.after-banner-question {
    padding-top:120px;
    align-self: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    z-index: 2;
    position: relative;
    background: white;
    clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.after-banner-question-text {
    width: 990px;
    text-align: center;
    color: #424F57;
    font-size: 16px;
}

.after-banner-question-tittle {
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
    margin-bottom: 0;
}

.after-banner-question-tittle-text {
    color: #424F57;
    font-weight: bold;
    margin: 0;
}
.companies-section-wrapper {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    transform-style:preserve-3d;
}

.companies-section-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Images/companies-section-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 15%);
    height: 100vh;
    width: 100vw;
    transform: translateZ(-1px) scale(2);
}
.companies-section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
    grid-column-gap: 50px;
    align-items: center;
}

.companies-section-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
    margin: 0;
    text-transform: uppercase;
}

.companies-section-text {
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

.companies-section-head {
    grid-row: 2;
    grid-column: 3/5;
    text-align: center;
}

.company-Behance-link {
    grid-row: 3;
    grid-column: 2/3;
}

.company-Adobe-links {
    width: 225px;
    height: 100px;
    background: #FCFBFB;
    grid-row: 3;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
}

.company-Adobe-links-box {
    align-self: center;
}

.company-envanto-link {
    grid-row: 3;
    grid-column: 4/5;
}

.company-deviantart-link {
    grid-row: 3;
    grid-column: 5/6;

}

.company-flickr-link {
    grid-row: 4;
    grid-column: 2/3;
}

.company-envato2-link {
    grid-row: 4;
    grid-column: 3/4;
}

.company-markcoMEDIA-link {
    grid-row: 4;
    grid-column: 4/5;
}

.company-YAHOO-link {
    grid-row: 4;
    grid-column: 5/6;
}
.people-section {
    text-align: center;
    margin-top:120px;
    z-index: 3;
    position: relative;
    height: 100vh;
    width: 100vw;
    background:white;
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0% 0%);
}
.people-section-title {
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
    margin: 0;
}
.people-section-text {
    font-size: 18px;
    color: #424F57;
    font-family: "Open Sans", sans-serif;
}

.all-layers {
    display: flex;

    justify-content: center;
}
.Layer {
    width: 310px;
    margin: 0 30px;
}

.customers-reviews-section{
    margin-top:120px;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.customers-reviews-section-wrapper{
    box-sizing: border-box;
    transform-style:preserve-3d;
}
.customers-reviews-section-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Images/testimonials-section-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    height: 100vh;
    width: 100vw;
    transform: translateZ(-1px) scale(2);

}

.review-text,
.review-text-customer {
    font-family: "Open Sans",sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.45px;
}
.customers-reviews-section-title{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
    margin: 0;
    grid-row:2;
    grid-column:2/3;
    align-self: center;
    justify-self: center;
}

.customers-reviews-section-text {
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    grid-column: 2/3;
    grid-row:2;
    align-self: end;
    justify-self: center;
}
.review-text {
    width: 900px;
    grid-column:2/3;
    grid-row:3;
    text-align: center;
    line-height: 28px;
    letter-spacing: .8px;
    margin-top: 30px;
}
.review-text-customer {
    grid-column:2/3;
    grid-row:3;
    align-self: end;
    justify-self: end;
    margin-right: 57px;
}

.advantages-section{
    width: 100vw;
    padding-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%, 0 0, 50% 15%);
    position: relative;
    z-index: 3;
}
.advantages-section-title {
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
    margin: 0;

}
.advantages-section-text {
    font-size: 18px;
    color: #424F57;
    font-family: "Open Sans", sans-serif;

}
.formula-of-advantages {
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #424F57;
    letter-spacing: 0.75px;
    font-size: 30px;
    line-height: 48px;
    width: 810px;
    text-align: center;
}
.footer-section{
    margin-top: 100px;
    padding-bottom: 90px;
}
.footer-section-text{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #3D3C3C;
    text-align: center;
}
.designer-name {
    font-weight: bold;
}