@import "fonts.css" screen;
body {
    font-family: 'Arimo', sans-serif;
}
.container {
    text-transform: uppercase;
    position: absolute;
    width: 1192px;
    height: 736px;
    top: calc(50% - 736px/2);
    left: calc(50% - 1192px/2);
    background: #3A4965;
}

table {
    position: absolute;
    left: 20px;
    top: 22px;
    text-align: center;
    color: #484848;
    border-collapse: collapse;

}
.th-table-cell,
.td-table-cell {
    padding: 0;
    border-right:1px solid lightgrey;
}
.th-table-cell{
    border:none;
    width: 280px;
    height: 73px;
    font-weight: bold;
    color:white;
}

th:first-child{
    border-right:1px solid lightgrey;
    width:313px;
    font-size: 18px;
    line-height: 28px;
    background: #FAFAFA;
    color: #484848;
}

th:nth-child(2) {
    font-size: 24px;
    background: #89C331;
}
th:nth-child(3){
    font-size: 30px;
    background: #F04A56;
}
th:nth-child(4){
    font-size: 24px;
    background: #20807C;
}

.cost-sub-element {
    font-size: 60px;
    line-height: 28px;
    vertical-align: bottom;
}
.cost-sup-top-element{
    left: 134px;
    top: 19px;
    position: absolute;
    font-size: 24px;
    line-height: 28px;
}

.cost-sub-element::after {
    vertical-align: top;
    content:"per month";
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;

}

.head-pricing-text{
    font-size: 30px;
}

tr:nth-child(4) td:nth-child(2){
    text-align: right;
}

tr:nth-child(4) td:nth-child(3){
    text-align: left;
}

tr:nth-child(3),
tr:nth-child(5),
tr:nth-child(7) {
    background: #F2F2F2;
    height: 72px;
}
tr:nth-child(4),
tr:nth-child(6),
tr:nth-child(8) {
    background-color:#E3E3E3;
    height: 72px;
}
tr:nth-child(6) td:nth-child(2){
    border-right: none;
}

tr:nth-child(2) td:nth-child(1),
tr:nth-child(2) td:nth-child(2),
tr:nth-child(2) td:nth-child(3) {
    height: 86px;
    font-weight: bold;
    line-height: 28px;
    background-color:#FAFAFA;
    position: relative;

}

tr:last-child {
    height: 100px;
    background: #F4F4F4;
}

.icon {
    width: 53px;
    font-size: 24px;
    line-height: 28px;
    color: #848484;
}

.footer-button{
    border:none;
    width: 195px;
    height: 54px;
    border-radius:5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
    overflow:hidden;
    position: relative;
}

 .color-black-button {
     background: linear-gradient(to bottom,  #484848 80% , #404040 20%);
}

.color-green-button {
    background: linear-gradient(to bottom,  #89C331 80% , #79B027 20%);
}

.color-pink-button{
    background: linear-gradient(to bottom,  #F04A56 80% , #DF3A46 20%);
}

.color-blue-button{
    background: linear-gradient(to bottom,  #20807C 80% , #16736F 20%);
}

tr:last-child td:first-child {
 background: #DDDDDD;;
}

tr:last-child td:nth-child(2),
tr:last-child td:nth-child(4){
    background: #EEEEEE;
}

tr:last-child td:nth-child(3) {
    background: #F4F4F4;
}

.fa-shopping-cart {
    position: absolute;
    left: -30px;
    transition: all 600ms ease;
    color:black;
    font-size: 20px;
}

.footer-button:hover  .fa-shopping-cart {
    left: 20px;
    transition: all 600ms ease;
}
.footer-button:hover {
    width: 200px;
    height: 60px;
    border-right: 10px;
    box-shadow: 10px 15px 20px slategrey;
    color:black;
    font-size:18px;
    cursor: pointer;
}